.customSelectWrapper {
  display: block !important;
  width: 100%;
  .ant-select {
    width: 100%;
    .ant-select-dropdown {
      position: absolute !important;
    }
  }
}

.ant-select-selector {
  padding: 4.5px 0px 4.5px 18px !important;
  display: block;
  height: 100% !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  height: 30px !important;
  white-space: normal;
  text-overflow: unset;
}

.small {
  .ant-select-selector {
    padding: 3px 0px 3px 18px !important;
    display: block;
    height: 40px !important;
  }

  .ant-select-selection-placeholder {
    line-height: 30px !important;
    padding-right: 28px;
  }

  .ant-select-selection-item {
    padding-right: 28px;
  }
}
.ant-select-selection-search-input {
  height: 100% !important;
}
