.imageUploader {
  .ant-upload-select {
    margin: 0 !important;
    border-radius: 150px !important;
    border: 8px solid #fff !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    height: 130px !important;
    width: 130px !important;
    transition: all 0.4s ease-in-out !important;
  }
  button {
    &.ant-btn.cameraIcon {
      position: absolute;
      bottom: 0;
      height: unset;
      width: unset;
      border: none;
      background: transparent;
    }
    svg {
      font-size: 22px;
    }
  }

  .ant-upload-list-item-container {
    height: 130px !important;
    width: 130px !important;
    transition: all 0.4s ease-in-out !important;
  }
}
