// @import url("../../../src/assets/styles/variables.less");

@import "../../../assets/styles/variables.scss"; //

.authSec {
  padding-left: 30px;
  padding-right: 30px;
  .head {
    margin-bottom: 20px;
    h2 {
      color: $blackcolor;
      font-size: 28px;
      font-weight: 600;
      line-height: 1;
      text-transform: initial !important;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      color: $blackcolor;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  form {
    .with-label {
      margin-bottom: 15px;
      .ant-row {
        display: block;
        flex-direction: column;
      }
    }
    .ant-form-item-label {
      text-align: left;
      color: $blackcolor;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 15px;
      label {
        &::before {
          display: none !important;
        }
      }
    }
    .ant-input,
    .ant-input-affix-wrapper,
    .ant-input-number-input,
    .ant-picker {
      border-radius: 100px;
      border: 2px solid rgba(231, 49, 55, 0);
      background: $whitecolor;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px !important;
      line-height: unset;
      height: 50px;
      border-width: 1px;

      #loginForm_password,
      #signUpForm_password,
      #signUpForm_confirmPassword,
      #resetPasswordForm_password,
      #resetPasswordForm_newPassword {
        min-height: unset;
        padding: unset !important;
        background: unset !important;
        box-shadow: unset;
        height: unset;
        border-radius: unset;
      }
    }

    .forgotPass {
      text-align: right;
      margin-bottom: 8px;
      button {
        all: unset;
        cursor: pointer;
        text-decoration: underline !important;
        color: $lightPrimaryColor;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: capitalize;
        transition: all 0.4s ease-in-out;
        line-height: 1;
        border-bottom: 1px solid $lightPrimaryColor !important;
        &:hover {
          color: $blackcolor !important;
        }
      }
    }
    .ant-checkbox-wrapper {
      span {
        line-height: 1.3;
        color: $blackcolor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }

    button[type="submit"] {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    p.already-have-account {
      text-align: center;
      color: $primaryColor;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      & button {
        all: unset;
        cursor: pointer;
        text-decoration: underline !important;
        color: $primaryColor;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: capitalize;
        transition: all 0.4s ease-in-out;
        border-bottom: 1px solid $primaryColor !important;
        margin-left: 3px;
        line-height: 1;
        background: unset !important;
        &:hover {
          color: $blackcolor !important;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
    .ant-form-item-explain-error {
      padding-left: 15px;
    }
  }

  .otpWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .otpInput {
      margin: 0 10px;
      height: 70px;
      width: 80px;
      border-radius: 4px;
      padding: 8px 16px 8px 16px;
      border: 1px solid #f1f1fa;
      color: $lightPrimaryColor;
      font-size: 22px;
      font-weight: 600;
      text-align: center;
    }
  }

  .imageUploader {
    text-align: center;
  }

  .datepickerWrapper {
    width: 100%;
    display: block;
    .ant-picker {
      width: 100%;
    }
  }
}

// MEDIA QUERY STARTS

// ##Device = HD Desktops
// ##Screen = 1600px to higher resolution desktops

@media screen and (min-width: 1600px) {
} // Dont delete this bracket!

// ##Device = Ipads, Ipad Pro
// ##Screen = B/w 1024px to 1365px
@media (min-width: 1024px) and (max-width: 1365px) {
} //  1024px to 1365px Dont delete this bracket!

// ##Device = Tablets, Ipads
// ##Screen = B/w 768px to 1023px

@media (min-width: 768px) and (max-width: 1023px) {
} //  768px to 1023px  Dont delete this bracket!

// ##Device = Low Resolution Tablets, Mobiles (Landscape)
// ##Screen = B/w 481px to 767px

@media (min-width: 481px) and (max-width: 767px) {
} //  481px to 767px (Landscape) Dont delete this bracket!

// ##Device = Most of the Smartphones Mobiles (Portrait)
// ##Screen = B/w 360px to 479px

@media (min-width: 360px) and (max-width: 480px) {
  .authSec {
    padding-left: 10px;
    padding-right: 10px;
    form {
      button[type="submit"] {
        width: 100%;
      }
    }

    .otpWrapper {
      .otpInput {
        height: 60px;
        width: 60px;
      }
    }
  }
} //  360px to 480px (Portrait) Dont delete this bracket!
