//Font Family Variables
$primaryfontfamily: "Montserrat";

// ColorPicker Variables
$whitecolor: #ffffff;
$blackcolor: #000000;

//global style variables
$primaryColor: #4d008c;
$lightPrimaryColor: #892fc0;
$lightGrey: #9a9a9a;
$textLightGrey: #b5b5b5;
$startColor: #f7941d;
$statusInProcessBg: rgba(247, 148, 29, 0.5);
$statusCompleteColor: #007c41;
$statusCompleteBg: #8fffc9;
$headingColorSecondary: #37474f;
$homeBoxBg1: #ffc960;
$homeBoxBg2: #ff6960;
$homeBoxBg3: #4cb6f1;
$homeBoxBg4: #3deb97;
