@import "../../../assets//styles/variables.scss";

.customCardDashboard {
  background: $whitecolor;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 14px;
  .ant-statistic-content-prefix {
    display: flex !important;
    align-items: center;
    .aside {
      display: flex !important;
      align-items: center;
      justify-content: space-between !important;
      width: 100%;
      > div {
        display: flex;
        align-items: center;
        .fetchIcon {
          border: unset;
          padding: 0;
          height: unset;
          display: flex;
          align-items: center;
        }
        .filterIcon {
          border: 1px solid $lightPrimaryColor;
          background-color: $lightPrimaryColor;
          color: $whitecolor;
          border-radius: 25px;
        }
      }
    }
  }
  h5.primary-heading {
    color: $blackcolor;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
  }

  .ant-statistic-content-value,
  .ant-statistic-content-value {
    width: 100%;
    display: block;
    text-align: center;
    color: $blackcolor;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin-top: 10px;
  }
}

// MEDIA QUERY STARTS

// ##Device = HD Desktops
// ##Screen = 1600px to higher resolution desktops

@media screen and (min-width: 1600px) {
} // Dont delete this bracket!

// ##Device = Ipads, Ipad Pro
// ##Screen = B/w 1024px to 1365px
@media (min-width: 1024px) and (max-width: 1365px) {
  .customCardDashboard {
    margin: 0 10px;

    padding: 15px;
    .ant-statistic-content-value,
    .ant-statistic-content-value {
      font-size: 60px;
      margin-top: 2px;
    }
    h5.primary-heading {
      font-size: 18px;
      margin-left: 8px;
    }
  }
} //  1024px to 1365px Dont delete this bracket!

// ##Device = Tablets, Ipads
// ##Screen = B/w 768px to 1023px

@media (min-width: 768px) and (max-width: 1023px) {
  .customCardDashboard {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    .ant-statistic-content-value,
    .ant-statistic-content-value {
      font-size: 60px;
      margin-top: 2px;
    }
    h5.primary-heading {
      font-size: 18px;
      margin-left: 8px;
    }
  }
} //  768px to 1023px  Dont delete this bracket!

// ##Device = Low Resolution Tablets, Mobiles (Landscape)
// ##Screen = B/w 481px to 767px

@media (min-width: 481px) and (max-width: 767px) {
  .customCardDashboard {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    .ant-statistic-content-value,
    .ant-statistic-content-value {
      font-size: 60px;
      margin-top: 2px;
    }
    h5.primary-heading {
      font-size: 18px;
      margin-left: 8px;
    }
  }
} //  481px to 767px (Landscape) Dont delete this bracket!

// ##Device = Most of the Smartphones Mobiles (Portrait)
// ##Screen = B/w 360px to 479px

@media (min-width: 360px) and (max-width: 480px) {
  .customCardDashboard {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    .ant-statistic-content-value,
    .ant-statistic-content-value {
      font-size: 60px;
      margin-top: 2px;
    }
    h5.primary-heading {
      font-size: 18px;
      margin-left: 8px;
    }
  }
} //  360px to 480px (Portrait) Dont delete this bracket!
