/* @import "../../../assets/styles/variables.less";

.user-profile {
  &.notification-drop-down {
    position: relative;
    background-color: @white-color;
    width: 420px;
    right: 0;
    min-height: 150px;
    padding: 30px 20px;
    border-radius: 10px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      h5 {
        font-size: 16px;
      }
    }
    .notification-list {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 15px;
        cursor: pointer;
        &.unread {
          background-color: #eef2ff;
          padding: 10px;
        }
        h5 {
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 3px;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          color: #87878b;
          margin-bottom: 0;
        }
        span {
          font-size: 11px;
          color: #87878b;
          display: block;
          text-align: right;
        }
      }
    }
    ul.ant-skeleton-paragraph {
      li {
        width: 100% !important;
      }
    }
  }
  .notification-sec {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    a.ant-dropdown-trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .notification-count-sec {
      border-radius: 50px;
      color: #ffffff;
      background-color: #c62929;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 12px;
      height: 12px;
      font-size: 8px;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__notification {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    &-icon {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
    }
    span {
      border-radius: 50px;
      color: #ffffff;
      background-color: #c62929;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 12px;
      height: 12px;
      font-size: 8px;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__dropdown {
      position: absolute;
      background-color: @white-color;
      border-radius: 10px;
      max-height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
      top: 110%;
      left: auto;
      transform: translateX(-13%) translateY(-10%) scale(0);
      padding: 0;
      max-width: 346px;
      opacity: 0.5;
      transform-origin: top right;
      transition: 0.3s ease-in-out;
      visibility: hidden;
      z-index: 999;
      border-radius: 5px;

      &__btn {
        margin-right: 0.5rem;
        background-color: @primary-color;

        &:hover {
          color: @white-color;
        }
      }

      &.notifications {
        transform: translateX(-65%) translateY(-10%) scale(0);
        width: 350px;
        right: 0;
        min-height: 150px;
        padding: 30px 20px;
        .notification-list {
          width: auto;
          padding: 0;
          margin: 0;
          li {
            transition: all 0.4s ease-in-out;
            &:hover {
              background-color: #f0f2f57a !important;
              padding-left: 5px;
            }
            a {
              cursor: pointer;
              color: #02080e;
              font-size: 13px;
              font-weight: 400;
              padding: 15px 0px;
              border-bottom: unset;
              font-family: "Poppins";
              display: inline-block;
              width: 100%;
              span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #87878b !important;
                line-height: 1;
                margin-top: 8px;
              }
            }
          }
        }
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          .switch-toggle {
            line-height: 1;
          }

          h5 {
            margin: 0;
            line-height: 1;
          }
        }
        &.active {
          transform: translateX(-60%) translateY(0%) scale(1);
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(-13%) translateY(0%) scale(1);
      }
      ul {
        width: 145px;
        padding: 0;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;

        li {
          line-height: 1;
          position: relative;
          list-style: none;
          a {
            cursor: pointer;
            color: #555b6d;
            font-size: 12px;
            font-weight: 400;
            padding: 15px 0px;
            border-bottom: 1px solid #555b6d45;
            font-family: "Poppins";
            display: inline-block;
            width: 100%;
          }
          &:last-child a {
            border-bottom: none;
          }
          &.logout a {
            color: #df6262;
          }

          &.unred {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: 10px;
              top: calc(50% - 5px);
              width: 12px;
              height: 12px;
              border-radius: 50px;
              background-color: @primary-color;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERY START

// ##Device = HD Desktops
// ##Screen = 1600px to higher resolution desktops

@media screen and (min-width: 1600px) {
} //  Dont delete this bracket!

// ##Device = Desktops
// ##Screen = 1281px to higher resolution desktops

@media (min-width: 1281px) {
} //  Dont delete this bracket!

// ##Device = Laptops, Desktops
// ##Screen = B/w 1025px to 1280px

@media (min-width: 1025px) and (max-width: 1280px) {
} //  1025px to 1280px (Laptops, Desktops) Dont delete this bracket!

// ##Device = Tablets, Ipads (landscape)
// ##Screen = B/w 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
} //  768px to 1024px (landscape) Dont delete this bracket!

// ##Device = Tablets, Ipads (portrait)
// ##Screen = B/w 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px) {
} //  768px to 1024px (portrait) Dont delete this bracket!

// ##Device = Low Resolution Tablets, Mobiles (Landscape)
// ##Screen = B/w 481px to 767px

@media (min-width: 481px) and (max-width: 767px) {
  .user-profile.notification-drop-down {
    right: 0px;
    max-height: 300px;
  }
} //  481px to 767px (Landscape) Dont delete this bracket!

// ##Device = Most of the Smartphones Mobiles (Portrait)
// ##Screen = B/w 320px to 479px

@media (min-width: 320px) and (max-width: 480px) {
  .user-profile.notification-drop-down {
    width: 320px;
    right: -40px;
  }
} //  320px to 479px (Portrait) Dont delete this bracket! */
